#gold{
    color: yellow;
}

#purple{
    color: purple;
}

#blue{
    color: blue;
}

#red{

    color: red;

}

#green{

    color: green;
}

#last{
    float:right;
    padding-right: 0;

}

#last2{

    float:right;
}